/* custom styles */
body {
  background-color: grey;
}

h1 {
  color: white;
  background-color: black;
  display: block;
  width: 1000px;
  padding: 3px;
}

.skiPhotos {
  display: inline-block;
  height: 10em;
  width: 20em;
  border: 2px solid black;
  margin: 4px;
}

footer {
  align: center;
  display: block;
}
