/* custom styles */
body {
  background-color: black;
}

nav {
  margin: 6px;
}

.button {
  display: inline-block;
  color: white;
  background-color: gray;
  border: 2px solid white;
  border-radius: 3px;
  margin: 10px;
  padding: 5px;
  text-decoration: none;
}

.workLink {
  display: block;
  color: white;
  background-color: gray;
  border: 2px solid white;
  border-radius: 3px;
  margin: 10px;
  padding: 5px;
  text-decoration: none;
}

h1 {
  color: white;
  background-color: black;
}

h2 {
  color: white;
}

.skiPhotos {
  display: inline-block;
  height: 10em;
  width: 20em;
  border: 2px solid white;
  margin: 4px;
}

footer > h1 {
  text-align: center;
}

footer > p {
  text-align: center;
  color: white
}
